@mixin themeColor($inLight: #f0f0f0, $inDark: #212121) {
	.current_theme {
		.v-theme--light & {
			background: $inLight;
		}

		.v-theme--dark & {
			background: $inDark;
		}
	}
}

%absolute {
	position: absolute;
}

%inset {
	inset: 0;
}

@mixin absolute($inset: true) {
	@extend %absolute;

	@if ($inset) {
		@extend %inset;
	}
}
